#indexView
{
  position: absolute;
  left:5px;
  right:20px;
  box-sizing: inherit;
  font-style: initial;
  font-display: center;
  font-size: large;
  background-color: aquamarine;
  text-align: center;

}

table
 {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
  }

  td, th {
    border: 1px solid #57bc6a;
    text-align: left;
    padding: 8px;
  }

  tr:nth-child(even) {
    background-color: #e8efc1;
  }

  /* Styling for the tab */
  .tab {
    overflow: hidden;
    border: 1px solid rgb(173, 25, 25);
    background-color: #eff3f0;
  }

  /* Style for the opentab */
.opentab {
    overflow: hidden;
    border: 1px solid rgb(125, 70, 220);
    background-color: #eff3f0;
  }


  /* Style for the buttons that are used to open the tab content */
  .tab button {
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
  }

  /* Change background color of buttons on hover */
  .tab button:hover {
    background-color: rgb(169, 116, 37);
  }

  /* Create an active/current tablink class */
  .tab button.active {
    background-color: rgb(225, 168, 24);
  }

  /* Style the tab content */
  .tabcontent {
    display: none;
    padding: 6px 12px;
    border: 1px solid rgb(30, 180, 180);
    border-top: none;
  }

  .dropdown {
    float: right;
    margin-right: 5%;
    margin-bottom: 20px;
  }
  .navbar {
    overflow: hidden;
    background-color: #333;
    font-family: Arial;
  }

  /* Links inside the navbar */
  .navbar a {
    float: left;
    font-size: 16px;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
